[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "{{ edition_name|lower()|replace(' ', '-') }}"
description = 'The {{ edition_name }} μEdition'
readme = "README.md"
requires-python = ">=3.10"
keywords = []
authors = [
  { name = "{{ author_name }}", email = "{{ author_email }}" },
]
classifiers = [
  "Development Status :: 4 - Beta",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: Implementation :: CPython",
  "Programming Language :: Python :: Implementation :: PyPy",
]
dependencies = [
  "uedition>=0.7.0",
]
version = "1.0.0"

[project.urls]
Documentation = "{{ repository_url }}/-#readme"
Issues = "{{ repository_url }}/-/issues"
Source = "{{ repository_url }}/-"

[tool.hatch.envs.default.scripts]
build = "uEdition build"
serve = "uEdition serve"
update = "uEdition update"
