# {{ edition_name }}

The {{ edition_name }} edition is built using the [μEdition](https://uedition.github.io/uedition) framework.

## Running locally

To try out the {{ edition_name }} locally, you need to install [Python 3.10 or newer](https://www.python.org) and
[Hatch](https://hatch.pypa.io). Then run the following command to start a local development server:

```
$ hatch run dev:server
```

The development server will then serve your μEdition at http://localhost:88888.
